.main-container{
    background: linear-gradient(to top right, #aaa 10%, #0ad);
    width: 100vw;
    height: 100vh;
}

.main-container:hover{
    animation-name: gradientanimation;
    animation-duration: 1s;
}
